@model Cms.Models.Cms

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Cms</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VoucherNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VoucherNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChequeNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChequeNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayMode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayMode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayAmount)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
